* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #747474;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

#calculator {
    width: 400px;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(20, 20, 109);


}

#display {
    padding: 10px 20px;
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span2 {
    grid-column: span 2;
}

button {
    padding: 20px;
    font-size: 20px;
    border: 2px black solid;
    border-radius: 5px;
}

button:hover{
    background-color: #dadada;
}



.numPad {

    padding: .5rem;
    margin: .2rem;

}



.operand {
    padding: .5rem;
    margin: .2rem;

}

#numEquals{
    background-color: rgb(155, 45, 45);
}

#numEquals:hover{
    background-color: rgb(135, 45, 45);
}

#clearButton{
    background-color: rgb(200, 140, 25);
}

#clearButton:hover{
    background-color: rgb(215, 140, 25);
}